.list-item{
    border: 1px solid #f1c846;
    border-bottom: none;
    padding: 10px;
}

.caption-box{
    display: flex;
    justify-content: space-between;
}

.information-block{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}