.filtr-link{
    /* margin: 5px 0px; */
    display: inline-block;
    text-decoration: none;
    color:#666;
    padding-right:20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}

.filtr-link:hover{
    background: #EDEDED;
    text-decoration: underline;
}


.filtr-ul{
    padding-left: 10px;
}

.current-link{
    background-color: brown;
    color: #fff;
    
}